.card{
  margin :15px;
}

.card-wrap{
  position: relative;
  margin: 15px;
}
.arrow{
  position: absolute;
  top: 50px;
  right: -13px;
  background-color:#fff;
  padding: 5px 10px;
  border-radius: 70%;
  color:#c0392b;
  font-size:25px;
  font-weight:900;

}

